interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-05-18T04:12:18Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2e01c1b7-01cb-45ad-aff0-10e60a805a6d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-05-18T04:12:26.6706504Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-05-18T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-05-18T04:12:26.6706504Z","modifiedDate":"2022-05-18T04:12:26.6706504Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"2e01c1b7-01cb-45ad-aff0-10e60a805a6d","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2022-05-18T04:12:26.6706504Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2022-05-18T17:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2022-05-18T04:12:26.6706504Z","modifiedDate":"2022-05-18T04:12:26.6706504Z"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003","name":"containerapp-env000003","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000003/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: '{"primarySharedKey":"nrtvjiGq62+5B+o2q89jGIYjfJtIeozUAJs/M6m9t4lQsmz9jTKqB+lo7x6JKlqFTasXnmiIvO+Ymbi+yXYFPg==","secondarySharedKey":"TI0570jeVTpwHyL2ebMgLsaJN5vsQNonxDEr7BuyOc1c/gyvjjxiN5Ll4vhrIh482JdaJIW4i0dxKLv4qpoJAQ=="}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2"],"apiVersions":["2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"containerApps","locations":["Nor[...]
[...]
- request:
    body: '{"location": "northeurope", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "internalLoadBalancerEnabled": false, "appLogsConfiguration":
      {"destination": "log-analytics", "logAnalyticsConfiguration": {"customerId":
      "2e01c1b7-01cb-45ad-aff0-10e60a805a6d", "sharedKey": "nrtvjiGq62+5B+o2q89jGIYjfJtIeozUAJs/M6m9t4lQsmz9jTKqB+lo7x6JKlqFTasXnmiIvO+Ymbi+yXYFPg=="}},
      "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2022-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","name":"containerapp-e2e-env000002","type":"Microsoft.App/managedEnvironments","location":"northeurope","systemData":{"createdBy":"linluliu@microsoft.com","createdByType":"User","createdAt":"2022-05-18T04:13:07.3816907Z","lastModifiedBy":"linluliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-18T04:13:07.3816907Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"proudisland-ce10f262.northeurope.azurecontainerapps.io","staticIp":"51.138.176.17","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"2e01c1b7-01cb-45ad-aff0-10e60a805a6d"}},"zoneRedundant":false}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/northeurope/managedEnvironmentOperationStatuses/b5f3fae2-84b5-47ae-8ece-6e15cd383e68?api-version=2022-03-01&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/certificates?api-version=2022-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "containerapp-e-clitest.rg5tad-6c9e-4182", "type": "Microsoft.App/managedEnvironments/certificates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/checkNameAvailability?api-version=2022-03-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "properties": {"password": "test12", "value":
      "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUIvRENDQWFLZ0F3SUJBZ0lKQUpzRU9WYXN5Rm9wTUFvR0NDcUdTTTQ5QkFNQ01Ga3hDekFKQmdOVkJBWVQKQWxWVE1Rc3dDUVlEVlFRSURBSlhRVEVRTUE0R0ExVUVCd3dIVW1Wa2JXOXVaREVMTUFrR0ExVUVDZ3dDVFZNeApIakFjQmdOVkJBTU1GV0Z1ZEdSdmJXRnBibU5sY25SMFpYTjBMbU52YlRBZUZ3MHlNakEwTWpVd05EVXlNREZhCkZ3MHlNekEwTWpBd05EVXlNREZhTUZreEN6QUpCZ05WQkFZVEFsVlRNUXN3Q1FZRFZRUUlEQUpYUVRFUU1BNEcKQTFVRUJ3d0hVbVZrYlc5dVpERUxNQWtHQTFVRUNnd0NUVk14SGpBY0JnTlZCQU1NRldGdWRHUnZiV0ZwYm1ObApjb[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/certificates?api-version=2022-03-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/certificates/containerapp-e-clitest.rg5tad-6c9e-4182","name":"containerapp-e-clitest.rg5tad-6c9e-4182","type":"Microsoft.App/managedEnvironments/certificates","location":"northeurope","systemData":{"createdBy":"linluliu@microsoft.com","createdByType":"User","createdAt":"2022-05-18T04:13:58.3625905","lastModifiedBy":"linluliu@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-18T04:13:58.3625905"},"properties":{"subjectName":"CN=antdomaincerttest.com,
        O=MS, L=Redmond, S=WA, C=US","issuer":"CN=antdomaincerttest.com, O=MS, L=Redmond,
        S=WA, C=US","issueDate":"2022-04-25T04:52:01","expirationDate":"2023-04-20T04:52:01","thumbprint":"6C9E3B69C4C0D50DC735D6027D075A6C500AEF63","valid":true,"publicKeyHash":"tSjSz8qDokLoM36Z0X6+IrieDtcOvJUElMeyqfPQa2E=","provisioningState":"Succeeded"}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/certificates?api-version=2022-03-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
